We will classify with Decision Trees

First, we load our data and import our libraries.

In [1]:
import numpy as np
import pandas as pd
from sklearn import tree

df = pd.read_csv("DecisionTreesClassificationDataSet.csv")

In [2]:
df.head()

,Years of Experience,Is it working now?,Former Companies He Worked For,Education Level,Top10 Universities?,Did Internship Work on Us?,Received
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N


The scikit-learn library expects everything to be numerical for decision trees to work properly, so we correct all Y and N values in our data set to 0 and 1. For the same reason, we are updating the education level as BS:0 MS:1 and PhD:2. Using map(), empty cells or cells with invalid values ​​will be filled with NaN. We do not need this in our current data set, but you will need it in the future when you work with dense data.

In [3]:
editing_mapping = {'Y': 1, 'N': 0}

df['Received'] = df['Received'].map(editing_mapping)
df['Is it working now?'] = df['Is it working now?'].map(editing_mapping)
df['Top10 Universities?'] = df['Top10 Universities?'].map(editing_mapping)
df['Did Internship Work on Us?'] = df['Did Internship Work on Us?'].map(editing_mapping)
editing_mapping_editim = {'BS': 0, 'MS': 1, 'PhD': 2}
df['Education Level'] = df['Education Level'].map(editing_mapping_editim)
df.head()

,Years of Experience,Is it working now?,Former Companies He Worked For,Education Level,Top10 Universities?,Did Internship Work on Us?,Received
0,11,1,4,0,0,0,1
1,0,0,0,2,1,1,1
2,5,1,2,1,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0

We separate the result column:

In [4]:
y = df['Received']
X = df.drop(['Received'], axis=1)

In [5]:
X.head()

,Years of Experience,Is it working now?,Former Companies He Worked For,Education Level,Top10 Universities?,Did Internship Work on Us?
0,11,1,4,0,0,0
1,0,0,0,2,1,1
2,5,1,2,1,0,1
3,3,0,1,0,0,1
4,0,0,0,0,0,0

We create our Decision Tree:

In [6]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X,y)

In [7]:
import warnings
warnings.filterwarnings('ignore')
# Let's make predictions now
# 5 years of experience, currently working at one location and having worked at 3 previous companies, education level Bachelor's degree
# not a top-tier-school graduate
print (clf.predict([[5, 1, 3, 0, 0, 0]]))

[1]

In [8]:
# Total 2 years of work experience, changed jobs 7 times, graduated from a very good school, currently not working
print (clf.predict([[2, 0, 7, 0, 1, 0]]))

[0]

In [9]:
# Total 2 years of work experience, changed jobs 7 times, not a very good school graduate, currently working
print (clf.predict([[2, 1, 7, 0, 0, 0]]))

[1]

In [10]:
# Total 20 years of work experience, changed jobs 5 times, graduated from a good school, currently not working
print (clf.predict([[20, 0, 5, 1, 1, 1]]))

[1]

## Batch Learning: Random Forest

We will make a prediction using a Random Forest consisting of 20 decision tree combinations:

In [12]:
from sklearn.ensemble import RandomForestClassifier

In [13]:
rnd_fr_clf = RandomForestClassifier(n_estimators=20)
rnd_fr_clf = rnd_fr_clf.fit(X, y)

#Predict employment of an employed 10-year veteran
print (rnd_fr_clf.predict([[10, 1, 4, 0, 0, 0]]))
#...and an unemployed 10-year veteran
print (rnd_fr_clf.predict([[10, 0, 4, 0, 0, 0]]))

[1]
[0]